/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-scheduler-widget {
    border: 1px dotted #f00;
}

@import '@mormat/react-scheduler/dist/react_scheduler';

.scheduler-widget-settings-panel  {
    
    .components-flex-item .components-base-control {
        label {
            font-weight: normal;
            text-transform: none;
            margin-bottom: 0;
        }
    }
    
}
