/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-scheduler-widget {
    /* background-color: yellow; */
    overflow: visible;
}

@import '@mormat/react-scheduler/dist/react_scheduler';

.jscheduler_ui-event-day {
    padding: 0;
}

.jscheduler_ui-event {
    font-size: small;
}

.jscheduler_ui {
    th[data-hour] {
        overflow: hidden;
    }
}

.jscheduler_ui-year_view {
    
    .jscheduler_ui-event:hover {
        min-width: 200px;
        top: -10px!important;
        bottom: 0;
        height: auto!important;
        z-index: 1000;
    }
    
}

// workaround to display a dragged task on top of the others
body > .jscheduler_ui-event {
    z-index: 10000;
}

